@keyframes change {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  /* animation: change 200ms ease-in-out forwards; */
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.fadeOut {
  /* animation: change 200ms ease-in-out backwards; */
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
