@font-face {
  font-family: "Luckiest Guy";
  src: url("./img/5.Font/Luckiest_Guy/LuckiestGuy-Regular.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./img/3. Background/Layers/5. Water/L1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  align-items: center;
  color: #2237ac;
  font-family: "Luckiest Guy", cursive;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: min-content;
}

.header_container {
  position: absolute;
  transform: translate(0, -50%);
  font-size: 36px;
}

canvas {
  background-color: black;
}
