@font-face {
  font-family: "Luckiest Guy";
  src: url("./img/5.Font/Luckiest_Guy/LuckiestGuy-Regular.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./img/3. Background/Layers/1. Light/2.png"), url("./img/3. Background/Legacy/Layers/4.Fondo 2/L1.png"), url("./img/3. Background/Layers/5. Water/L1.png");
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  height: 100vh;
  margin: 0;
  color: #2237ac;
  font-family: "Luckiest Guy", cursive;
  -webkit-text-stroke: 0.3px white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min-content;
  flex: 1;
}

.header_container {
  font-size: 36px;
}

canvas {
  background-color: black;
  display: block;
  border-radius: 32px;
  border: 1px solid #48bcd6;
  box-shadow: 0 0 4px 10px rgba(15, 40, 46, 0.055);
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: min-content;
  flex: 1;
}

.footer_container {
  font-size: 20px;
  margin-bottom: 32px;
  display: flex;
  gap: 16px;
}

a {
  -webkit-text-stroke: 0.3px white;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min-content;
  flex: 1;
}

.backIcon {
  padding-top: 32px;
  height: 60px;
}

.game_container {
  width: fit-content;
  height: 100%;
}

.mute {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
}

.game_menu {
  display: flex;
  align-items: center;
  position: absolute;
  transform: translate(0, 50%);
  gap: 16px;
  padding: 16px;
}

.operations {
  transform: translate(0, -50%);
  width: 100%;
  box-sizing: border-box;
  display: none;
}

.mute img {
  height: 30px;
  cursor: pointer;
}

.start_game {
  flex: none;
}

.background_start_game {
  border-radius: 32px;
  border: 1px solid #48bcd6;
  background-image: url("./img/3. Background/Mesa de trabajo 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  min-height: 480px;
  width: 90%;
  max-width: 720px;
  overflow: hidden;
  box-shadow: 0 0 4px 10px rgba(33, 229, 255, 0.247);
}

.start_game_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.start_button {
  height: 56px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 16px;
  padding-right: 8px;
}

.start_button img {
  height: 100%;
  border-radius: 16px;
}

.start_button img:hover {
  box-shadow: 0 0 4px 10px rgba(33, 229, 255, 0.247);
}

.start_button:hover {
  transform: scale(1.05);
  filter: brightness(1.05);
}

.buttons {
  padding-right: 20%;
  padding-bottom: 10%;
}

.menu img {
  width: 32px;
  cursor: pointer;
}

.menu img:hover {
  box-shadow: 0 0 4px 10px rgba(33, 229, 255, 0.247);
}

.menu {
  padding: 16px;
}

.menu:hover {
  transform: scale(1.05);
}

.menu_overlay {
  position: relative;
  display: flex;
  width: 100%;
  color: #531a82;
  -webkit-text-stroke: 0.3px white;
}

.menu_container {
  position: absolute;
  transform: translate(0, -100%);
  background-color: #434f9248;
  backdrop-filter: blur(10px);
  width: 100%;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 26px;
  height: 100%;
  flex: 1;
}

.instruction_footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 16px;
  gap: 8px;
}

.menu_container h1 {
  font-size: 36px;
}

.arrows {
  height: 60px;
}

.space_bar {
  height: 30px;
}
.cancel_img img {
  width: 32px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  filter: invert(1);
}

.cancel_img {
  padding: 16px;
  position: absolute;
}

.cancel_img img:hover {
  box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.247);
  transform: scale(1.05);
}

.cancel {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
}

.menu_container td {
  padding: 16px;
}

.menu_container td:first-child {
  text-align: right;
}

.key {
  padding: 4px 8px;
  background-color: rgb(127, 255, 224);
  border: 1px solid white;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  color: rgb(83, 26, 130);
  font-size: 16px;
  -webkit-text-stroke: 0;
}

.game_over {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  gap: 32px;
}

.game_over_img {
  width: 100%;
}

.game_over .cancel_img {
  padding: 0;
  position: absolute;
}

.game_over_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 16px;
}

.won {
  background-image: url("./img/6.Botones/Tittles/You win/Mesa de trabajo 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

button {
  border: none;
  background: none;
}

button img {
  height: 30px;
}

#swimRightIcon {
  transform: rotate(180deg);
}

#swimUpIcon {
  transform: rotate(90deg);
}

#swimDownIcon {
  transform: rotate(270deg);
}

.attack_icons .key {
  padding: 5px;
  height: 20px;
}

.attack_icons img {
  height: 20px;
  width: 20px;
}

.dialog {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
}

.dialog img {
  width: 100px;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0;
}

.df_ai_c {
  display: flex;
  align-items: center;
}

.statistics td {
  padding: 4px;
  font-size: 28px;
}

#points,
#coins,
#coinPoints,
#totalPoints {
  color: #f15d28;
}

.statistics img {
  height: 40px;
}

.jc_c {
  justify-content: center;
}

.jc_sb {
  justify-content: space-between;
}

.op_icons {
  display: flex;
  gap: 16px;
}

.df_jc_fe {
  display: flex;
  justify-content: flex-end;
}

.flex_1 {
  flex: 1;
}

.d_none {
  display: none;
}

@media (max-width: 720px) {
  #game,
  canvas {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0;
  }
  button img {
    height: 30px !important;
  }
  .mute img {
    height: 20px;
  }

  .background_start_game {
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
  }
  .start_game {
    box-sizing: border-box;
  }
  header,
  footer {
    display: none;
  }
  .menu_container {
    min-height: 100vh;
  }
  h1 {
    margin: 0;
    margin-top: 8px;
  }
  .menu_container td {
    padding: 8px;
  }
  .operations {
    display: flex;
  }
  .instruction_footer {
    padding: 0;
  }
}
