@font-face {
  font-family: "Luckiest Guy";
  src: url("./img/5.Font/Luckiest_Guy/LuckiestGuy-Regular.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./img/3. Background/Layers/5. Water/L1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  color: #2237ac;
  font-family: "Luckiest Guy", cursive;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min-content;
  flex: 1;
}

.header_container {
  font-size: 36px;
}

canvas {
  background-color: black;
  display: block;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: min-content;
  flex: 1;
}

.footer_container {
  font-size: 20px;
  margin-bottom: 32px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min-content;
  flex: 1;
}

.backIcon {
  padding-top: 32px;
  height: 60px;
}

.game_container {
  width: fit-content;
}

.mute {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
}
.mute img {
  height: 30px;
  position: absolute;
  padding: 8px;
  transform: translate(0, -50%);
  cursor: pointer;
}

@media (max-width: 760px) {
  canvas {
    width: 100%;
  }
  .mute img {
    height: 20px;
  }
}
