@keyframes change {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  /* animation: change 200ms ease-in-out forwards; */
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.fadeOut {
  /* animation: change 200ms ease-in-out backwards; */
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.rank {
  color: #f15e28e7;
}

.ranking {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.points {
  color: #7fffe0;
}

input.key {
  height: 30px;
}

@media (max-width: 700px) {
  .statistics td {
    font-size: 20px;
    padding: 0 2px;
  }
}
